<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal de Alvaro</p>
    <p><a href="/quizes/question">A JUGAR</<></p>
    <p><a href="/author">Créditos</<></p>
  </body>
</html>
