<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"><title>Quiz></title>
		<link rel='stylesheet' href='/stylesheet.style.css' />
	</head>
	<body>
		<h2>Quiz: el juego master de preguntas</h2>

		<p><%= respuesta %></p>
		<a href="/quizes/question"> Inténtelo de nuevo </a>
	</body>
</html>